@font-face
{
	font-family: mplus-2m-regular;
	src: url('http://mplus-fonts.sourceforge.jp/webfonts/mplus-2m-regular.ttf')
	     format("truetype");
}
body{
	background-color:#000000;
	color:#22ff22;
	font-family: mplus-2m-regular,monoscape;
}

a:link { color: #2222ff; }
a:visited { color: #ff2222; }
a:hover { color: #00ffff; }
a:active { color: #008fff; }

#center{
	text-align:center;
}
#small{
	font-size:small;
}
